<div class="top-header ml_10">
  <h2>Document</h2>
  <h3>Search document or select category</h3>
</div>
<div class="aside-menu">
	<nav class="sub-nav courses Courses">
    <ul class="sub-nav__list">
      <li class="sub-nav__item active">
        <a routerLink="/all" routerLinkActive="active" class="sub-nav__link">All</a>
      </li>
      <li  class="sub-nav__item">
        <a routerLink="/financial" routerLinkActive="active" class="sub-nav__link">Financial</a>
      </li>
      <li class="sub-nav__item">
        <a  routerLink="/technical" routerLinkActive="active" class="sub-nav__link">Technical</a>
      </li>
      <li class="sub-nav__item">
        <a routerLink="/marketing" routerLinkActive="active" class="sub-nav__link">Marketing</a>
      </li>
      <li class="sub-nav__item ">
        <a routerLink="/resouce" routerLinkActive="active" class="sub-nav__link">Human Resources</a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
